.form__style {
  min-height: 100vh;
  background-color: #000000;
}

.todo_list_button {
  background-color: #47c456;
  border: none;
  color: #202020;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
  margin: 10px 4px;
  cursor: pointer;
}

.select__box {
  position: relative;
}
