.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.todo__item {
  list-style-type: none;
}

/* ---------- No toggling a line through when completed -------- */
.todo__complete {
  text-decoration: line-through;
}
