.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.todo__item {
  list-style-type: none;
}

/* ---------- Not toggling a line through when completed -------- */
