@import url('https://fonts.googleapis.com/css2?family=Anton&family=Asap:wght@100;200;300;400;700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Gochi+Hand&family=Josefin+Sans:wght@200;300;400;600;700&family=Koulen&family=Montserrat&family=Nunito:wght@300;400;700&family=Oswald&family=Poppins:wght@200;300;400&family=Raleway:wght@100&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
